<div>
	<center><h1>Options</h1></center>
	<div class="table">
		<div class="row">
			<div class="cell">
				Operations:
			</div>
			<div class="cell">
				<x-toggle checked label="Addition" name="operation" value="Add"></x-toggle><br/>
				<x-toggle focus label="Substraction" name="operation" value="Sub"></x-toggle>
				<br/>
				More Coming Soon...
			</div>
		</div>
		
		<div class="row">
			<div class="cell">
				Thanks To:
			</div>
			<div class="cell">
				Royalty Free Kings :) royaltyfreekings.com
			</div>
		</div>
	</div>
</div>